<div>
    <div class="text-center">
        <h1><span class="span-style my-3 text-primary">About</span> us</h1>
        <div class="card mb-3  w-75 about-style mx-auto">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="https://wallpaperaccess.com/full/1393281.jpg" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="">
                            <h5 class="span-style text-primary">We Providing all service for any destination</h5>
                            <p class="card-text">Explore World With us</p>

                            <p><i class="fas fa-phone-square-alt"></i> +01932455656</p>
                            <p><i class="fas fa-hospital-user"></i> Open Hours: 10 am - 6pm</p>
                            <p><i class="fas fa-hospital-user"></i>Address: Mogbazzer , Rode No:43/2 ,Dhaka
                                Bangladesh </p>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="m-5 w-75 mx-auto">
                <div class="bg-dark text-white w-100 mx-auto rounded-3">
                    <h5 class="text-white">Working Progress</h5>
                    <div class="p-3">
                        <div class="progress w-50 mx-auto">
                            <div class="progress-bar bg-danger" role="progressbar" style=" width: '89%'"
                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">89%</div>
                        </div>
                        <h5 class="text-white">Team work</h5>
                        <div class="progress w-50 mx-auto">
                            <div class="progress-bar bg-warning " role="progressbar" style=" width: '75%'"
                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <h5 class="text-white">Client</h5>
                        <div class="progress w-50 mx-auto">
                            <div class="progress-bar bg-success " role="progressbar" style=" width: '65%'"
                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <h5 class="text-white">Event Management</h5>
                        <div class="progress w-50 mx-auto">
                            <div class="progress-bar bg-primary " role="progressbar" style=" width: '92%'"
                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                        <h5 class="text-white">Security system</h5>
                        <div class="progress w-50 mx-auto">
                            <div class="progress-bar bar-style  " role="progressbar" style=" width: '73%'"
                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">73%</div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
        <div class="summary">
            <div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto" data-bs-ride="carousel">
                <div class="carousel-indicators button-color">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active  indicator-style" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        class="active  indicator-style" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        class="active  indicator-style" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <app-first-slide></app-first-slide>
                    </div>
                    <div class="carousel-item">
                        <app-second-slide></app-second-slide>
                    </div>
                    <div class="carousel-item">
                        <app-third-slide></app-third-slide>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>





    </div>



</div>