<div class="submit-form">
    <form class="w-50 mx-auto" *ngIf="!submitted">
        <h4>Name</h4>
        <dx-text-box class="form-control" id="title" required [(ngModel)]="address.title" name="title">
        </dx-text-box>
        <h4>Address</h4>
        <dx-text-box type="text" class="form-control" id="description" required [(ngModel)]="address.description"
            name="description">

            <div class="form-text">We'll never share your address with anyone else.</div>

        </dx-text-box>

        <button (click)="saveAddress()" class="btn btn-primary">Submit</button>

    </form>
    <div *ngIf="submitted">
        <h4>You submitted successfully</h4>
        <button class="btn btn-success" (click)="newAddress()">Add</button>

    </div>

</div>